:root{
    --primarycolor: #fcb823;
}
body{
    font-family: Arial;
}
.text-warning-hover:hover{
    color: var(--primarycolor) !important;
}

.fit {
    color: var(--primarycolor);
}

#logo2 {
    width: 60px;
    height: 60px;
}
