* ::before ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 98%;
height: 97vh;
font-family: sans-serif;
background: black;
}

/*formulario izquierdo*/
.left-formulario{
width: 65%;
height: 100%;
margin: 0;
float: left; /*hace que se ubique al lado izquierdo*/
display: flex;
justify-content: center;  

}

/*edicion de la img derecha*/
.right-formulario{
    width: 30%;
    height: 100%;
    overflow: hidden;
    float: right; /*hace que se ubique al lado derecho*/
    background: url(/css/img-registro.png) no-repeat;
    background-size: cover;
}

.left-formulario form{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    
}


.left-formulario form p{
    
    font-size: 20px;
    margin: 0;
    
}



/*logo del smart fit*/
.logo{
    display: flex;
   flex-direction:row;
  
  
}

#logo2{
    height: 60%;
    margin-top: 20px;
}
.smart{
    font-weight: bold;
    font-size: 65px;
  margin-top: 40px;
}

.fit{
    font-size: 65px;
    color: #fcb823;
    font-weight: bold;
    margin-top: 40px;
}

h2 a{
    color:#fcb823;
   
}

.left-formulario h2{
font-size: 2em;
margin: 0;
margin-bottom: 10px;
}


/*edicion de los inputs*/
.left-formulario form > input{
    width: 90%;
    padding: 10px;
    background: black;
     color: white;
     border-radius: 6px;
     margin-bottom: 4px;
     font-family: sans-serif;
     border: 1px solid white;
}



.left-formulario label{
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
    color: white;
    
}

/*contenedor de botones*/
.left-formulario .botones{
    width: 100%;
    text-align: center;
}


 /*edicion del boton*/
.left-formulario .boton{
    width: 40%; 
    background: white;
    border-radius: 6px;
    padding: 12px;
    color: black;
    margin: 10px auto;
    font-size: 16px;
   font-weight: bold;
   cursor: pointer; /*para que aparesca el simbolo de la manito*/
   transition: .10s;
   

}


/*efecto del boton */
.left-formulario .boton:active{
    transform: scale(0.9);
}



.left-formulario .yatienes {
    height: 40px;
    text-align: center;
    font-size: 18px;
    
}   

.left-formulario .yatienes a{
    color: white;
    text-decoration: none; 
}

.left-formulario .yatienes a:hover{
    color: #fcb823;
}

/*aplicando responsive*/
@media only screen and (max-width:768px){

    body{
       
        background: url(/css/img-registro.png) no-repeat;
        background-size: cover;
    }

   .right-formulario{
   display: none;    
    
   }
    
   .left-formulario{
    width: 100%;
   }

   .left-formulario form{
    width: 95%;
    padding: 0 1em;
   }
}

@media only screen and (max-width:500px){
    body{
       
        background: black;
    }
    .right-formulario{
        display: none;    
         
        }
}


@media only screen and (max-width:400px){

  
   .right-formulario{
   display: none;    
    
   }
    
   .left-formulario{
    width: 100%;
   }

   .left-formulario form{
    width: 95%;
    padding: 0 1em;
   }

   #logo2{
    height: 80px;
    margin-bottom: 50px;
    margin-left: 10px;
    transform: translate(0, -5%);
}
.smart{
  
    font-size: 45px;
 
}

.fit{
    font-size: 45px;

}
.logo{
    transform: translate(0, 20%);
}
}