body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
   
}
/*pagina*/
.superior{
    display: flex;
  height: 100vh;
  
}

/*estilo de la imagen mujer */
.imagen-container {
   
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 40px;
    
  }
  
 
  .imagen-container img {
    max-height: 90%;
   position: absolute;
    max-width: 100%;
   height: auto;
   
  }


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -40%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
     max-width: 30%;
 
}


/*Estilo del Smart fit*/
.smart{
    
    font-size: 65px;
    color: white;
    font-weight: 800;
    margin-top: 80px;   
}

#logo2{
    width: 100px;
    height: 100px;
    margin-top: 80px;  
}

.fit{
    font-size: 65px;
    color: #fcb823;
    font-weight: 800;
    width: 300px;  
    margin-top: 80px; 
}

/*estilo de medio*/
h2 a{
    color:#fcb823;
}

p{
   font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}


h2{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.medio{
    padding-left: 11%;
    margin-top: 120px;
     transform: translate(10%, 0);

}


/*Formulario del registro*/

    
.formulario-registro{
    
    width: 400px;
    margin: auto;
    margin-top: 260px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-80%, 0);
   
}
        /*edicion del formulario*/
.form{
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
  
}

p{
    margin-bottom: 10px;
}

.formulario-registro .yatienes{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.formulario-registro .yatienes a{
    color: white;
    text-decoration: none;  
}

/*cambiar de color cuando seleccione*/

.formulario-registro .yatienes a:hover{
    color: #fcb823;
}

/*editcion del boton*/
.formulario-registro .boton{
    width: 50%;
    background: white;
    border-radius: 6px;
    padding: 12px;
    color: black;
    margin: 10px auto;
    font-size: 16px;
    display: block;
   font-weight: bold;
   cursor: pointer; /*para que aparesca el simbolo de la manito*/
   transition: .10s;
}

/*efecto al darlo click*/
.formulario-registro .boton:active{
    transform: scale(0.9);
}




/*Aplicando responsive medio*/

@media screen and (max-width:950px){

     
    .superior .medio{
        transform: translate(-5%, 0);
        position: absolute;
    }

    .smart{
        font-size: 55px;
    }
    
    #logo2{
        width: 100px;
        height: 100px;
        margin-top: 80px;  
    }
    
    .fit{
        font-size:55px;
    }

    .imagen-container img {
        max-width: 100%;
       height: 75%;
      
      }
      @media screen and (max-width:730px){/*itutlo al mediio responsive*/
        .logo{
            transform: translate(120%, -40%);
            position: absolute;
        }
    
      
        body{
            background-image: url(/css/img-registro.png);
            background-size: cover; /*  ajusta la imagen al tamaño del viewport */
            background-repeat: no-repeat;
           
        }

        .imagen-container{
            display: none;
        }
    }
   
      
}

        /*cuando este a 770 pixeles*/
@media screen and (max-width:770px){

    .imagen-container img {
        max-width: 100%;
       height: 70%;
     
      }

      .imagen-container{
        margin: 0 10px;
      }
}

/*responsive formulario*/
@media screen and (max-width:990px){
    .formulario-registro{
        
        width: 300px;
        transform: translate(-100%, 0);
       
    }
  
}
@media screen and (max-width:950px){
    .formulario-registro{
    width: 300px;
    transform: translate(20%, 10%);
    position: absolute;
    z-index: 1;
    } 
}
@media screen and (max-width:500px){
    .formulario-registro{
    width: 300px;
    transform: translate(20%, 5%);
    position: absolute;
    z-index: 1;
   
    }

     /* bajarle el tamaño titutlo al mediio responsive*/
     .smart{
    
        font-size: 40px;
       
    }
    
    #logo2{
        width: 100px;
        height: 100px;
        margin-top: 80px;  
    }
    
    .fit{
        font-size: 40px;
     
    }
    
  
 
}







