* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f5f8ff;
  }
  .wrapper {
    width: 95%;
    margin: 0 auto;
  
  }
  #search-container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
  
  }
  
  .buttons{
    margin: 1em 0;
    display: flex;
    justify-content: center;
  
  }
  
  
  #search{
    background: #c8c8c8;
    border-radius: 0 20px 20px 0;
    padding: 0;
    margin: 0;
    width: 100px;
  }
  
  
  
  
  
  
  #search-container input {
    background: white;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    border-radius:20px 0 0 20px ;
    border: 1px solid ;
    height: 100%;
    width: 50%;
   padding: 10px 0;
   justify-content: center;
  
    
  }
  
  .btn {
    background: #c8c8c8;
    border-radius: 0 20px 20px 0;
    padding: 10px; ;
    margin: 0;
    width: 100px;
  
    /*height: 50%;
    font-size: 20px;*/
  }
  
  .btn img{
    width: 50%;
  }
  .button-value {
    border: 2px solid #000000;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
    justify-content: center;
  
  
  
  }
  
  .buscar-contenedor .btn:active{
    transform: scale(0.9);
  }
  .btn:hover{
    cursor: pointer;
  }
  
  
  
  .active {
    background-color:  #fcb823;
    color:#000000;



  }
  #products {
    display: grid;
    grid-template-columns: auto  auto;
    grid-column-gap: 10em;
    padding: 1em ;
    height: auto;
    word-wrap: break-word;
  }
  .card {
    background-color: #000000;
    width: 120%;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
    max-width: 48em;
  }
  .image-container {
    text-align: center;
    width: 100%;
    
  }
  img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  
  }
  .container {
    padding-top: 1em;
    color: #ffffff;
  }
  .container h5 {
    font-weight: 500%;
  
  
    color: white;
    padding: 10px 0 20px 12%;
    text-align: left;
  
    padding-left: 17%;
    font-size: 30px;
    padding-bottom: 5%;
   display: block;
  
  }
  
  
  
  
  h6{
    color: #000000;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 100%;
    }
    .card {
      max-width: 10em;
      margin-top: 50em;
      justify-content: center;
    }
    #products {
      grid-template-columns: auto;
      grid-column-gap: 10em;
      padding: 1em ;
      height: auto;
      word-wrap: break-word;
      display: grid;
      margin: auto;
    }
  }
  
  
  
  
  
  
  
  
  
  
  body{/*fondo*/
    background-color:black;
    font-family: Arial;
  
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  
                                                /*Parte del HEADER*/
  /*parte superior*/
  .container{
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .enlaces{
    padding: 10px 0;
    background-color: black;
  }
  
  /*el menu*/
  .menu{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
  }
  /*el logo smart fit*/
  .smart{
    
    font-size: 24px;
    color: white;
    font-weight: 800;
    margin-top: 10px;   
  }
  
  #logo2{
    width: 60px;
    height: 60px;
  }
  
  .fit{
    font-size: 24px;
    color: #fcb823;
    font-weight: 800;
    width: 300px;  
    margin-top: 10px; 
  }
  
  
  /*editando enlaces*/
  .menu .menuarriba ul li{
    position: relative;
    float: left;
  }
  
  .menu .menuarriba ul li a{
  
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
  margin-top: 10px;
  
  }
  /*cambiar de color cuando seleccione*/
  .menu .menuarriba ul li a:hover{
  color: #fcb823;
  }
  /*editando solo el enlace empieza*/
  .menu .menuarriba ul li .empieza{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-family: Arial black;
    border-radius: 10px;
    padding: 5px;
  }
  
  /*icono q no se muestre hasta que se haga responsive*/
  #menu{
  display: none;
  }
  
  .menu-icono{
  width: 30px;
  
  }
  /*icono 3 rayas*/
  .menu label{
  cursor: pointer;
  display: none;
  }
  
                                                           /*portada*/
  
  .cardio-contenedor{
    display: grid;
    grid-template-columns: 65% 35%;
    color: white;
  }
  
  .cardio1 h2 a{
    color: #fcb823;
  }
  
  .cardio1{
    padding-right: 15%;
    padding-left: 25%;
    padding-top: 45px;
  }
  .cardio1 .zon-cardio{
    padding-left: 17%;
    font-size: 30px;
    padding-bottom: 5%;
  }
  
  .cardio1 .maquina-cardio{
    padding-top: 35%;
    padding-left: 17%;
    font-size: 30px;
  }
  
  .cardio2 img{
    width: 75%;
    height: 100%;
   padding-top: 45px;
  }
  
  .item h2{
  color: white;
  padding: 10px 0 20px 12%;
  text-align:left;
  
  }
  
  .palabra h2{
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  padding: 0 0 0 22%;
  /* transform: translate(22%, -5%); */  /*CORREGIR ESTE ERROR*/
  }
  
  .palabra h2 a{
  color: #fcb823
  }
  
  .ultimo{
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 30px;
}
.ultimo h2 a{
    color: #fcb823
}
















