body{/*fondo*/
    background-color:black;
    font-family: Arial;
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


                                                /*Parte del HEADER*/
/*parte superior*/
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.enlaces{
    padding: 10px 0;
    background-color: black;
}

/*el menu*/
.menu{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}
/*el logo smart fit*/
.smart{
    
    font-size: 24px;
    color: white;
    font-weight: 800;
    margin-top: 10px;   
}

#logo2{
    width: 60px;
    height: 60px;
}

.fit{
    font-size: 24px;
    color: #fcb823;
    font-weight: 800;
    width: 300px;  
    margin-top: 10px; 
}


/*editando enlaces*/
.menu .menuarriba ul li{
    position: relative;
    float: left;
}

.menu .menuarriba ul li a{

font-size: 18px;
padding: 10px;
color: white;
display: block;
margin-top: 10px;

}
/*cambiar de color cuando seleccione*/
.menu .menuarriba ul li a:hover{
color: #fcb823;
}
/*editando solo el enlace empieza*/
.menu .menuarriba ul li .empieza{
    color: #fcb823;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    font-family: Arial black;
    border-radius: 10px;
    padding: 5px;
    cursor:default;
}

/*icono q no se muestre hasta que se haga responsive*/
#menu{
    display: none;
}

.menu-icono{
    width: 30px;
    
}
/*icono 3 rayas*/
.menu label{
    cursor: pointer;
    display: none;
}

/*edicion de la img derecha*/
.imgderecha{
    display: flex;
   
    padding: 10px;
   padding-top: 200px;
}

.imgderecha img{
    width: 300px;
    height: 600px;
}


                                                    /*edicion del menu buscador*/
.palabra h2{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    transform: translate(22%, -5%);
}

.palabra h2 a{
    color: #fcb823
}

.buscador1{
    background: white;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    border-radius:20px 0 0 20px ;
    border: 1px solid ;
    height: 100%;
    width: 50%;
   padding: 10px 0;
  
}


.buscar-contenedor{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.btn{
    background: #c8c8c8;
    border-radius: 0 20px 20px 0;
    padding: 0;
    margin: 0;
    width: 100px;
}

.btn img{
    width: 50%;
}

/*efecto del boton */
.buscar-contenedor .btn:active{
    transform: scale(0.9);
}
.btn:hover{
    cursor: pointer;
}


                                                                /*centro*/
.result{
    color: #fcb823;
    text-align: center;
}

.centro{
 display: grid;
  grid-template-columns: 75% 25%; /* Divide la pantalla en dos columnas */
  grid-gap: 20px;
}


.img-contenedor{
    display: grid;  
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:minmax( 478px, auto );
    padding: 10px;
    gap: 20px;
}

/*cuando el mouse se posiciona en la img*/
.item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    }
    
.img-contenedor img{
    width: 100%;
    height: 100%;
}



                                                    /*footer*/

.ultimo{
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 30px;
}
.ultimo h2 a{
    color: #fcb823
}

                                            /*Editando Responsive*/

@media(max-width: 1500px){
    .img-contenedor{
       
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-auto-rows: minmax( 478px, auto );
    justify-content: center;
    justify-items: center;
        
       
    }
  
}


@media(max-width:750px){

    .menu{
        padding: 10px;
    }

    .menu label{
        display: initial;
    }

    .enlaces{
        padding: 10px 0;
    }

    .menu .menuarriba{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }
    .menu .menuarriba ul li{
        width: 100%;
    }

    #menu:checked ~.menuarriba{
        display: initial;
    }
      
}

@media(max-width: 730px){
  
    .imgderecha{
        display: none;
      }
.centro{
     grid-template-columns: 100% 0; /* Divide la pantalla en 1 columnas */
   }

.img-contenedor img{
    max-width: 500px;
}

}

