body{/*fondo*/
    background-color: black;
    font-family: Arial;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*parte superior*/
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.enlaces{
    padding: 10px 0;
    background-color: black;
}

/*el menu*/
.menu{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}
/*el logo smart fit*/
.smart{
    
    font-size: 24px;
    color: white;
    font-weight: 800;
    margin-top: 10px;   
}

#logo2{
    width: 60px;
    height: 60px;
}

.fit{
    font-size: 24px;
    color: #fcb823;
    font-weight: 800;
    width: 300px;  
    margin-top: 10px; 
}
/*editando enlaces*/
.menu .menuarriba ul li{
    position: relative;
    float: left;
}

.menu .menuarriba ul li a{

font-size: 18px;
padding: 20px;
color: white;
display: block;
margin-top: 10px;

}
/*cambiar de color cuando seleccione*/
.menu .menuarriba ul li a:hover{
color: #fcb823;
}
/*editando solo el enlace empieza*/
.menu .menuarriba ul li .empieza{
    color: #fcb823;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-family: Arial black;
    border-radius: 10px;
    padding: 5px;
    cursor:default;
}


/*icono q no se muestre hasta que se haga responsive*/
#menu{
    display: none;
}

.menu-icono{
    width: 30px;
    
}
/*icono 3 rayas*/
.menu label{
    cursor: pointer;
    display: none;
}



/*fondo de imagen*/
.img-principal{
    background-image: url(/css/primer.png);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

h1{
    font-family: Arial black, Helvetica, Verdana, sans-serif;

}

.portada a{
    color: #fcb823;
    
}
.portada2 a{
    color: #fcb823;
    
}

/*lo que se muestra adelante de la img*/
.portada{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -80%);
    font-size: 30px;
    text-align: center;
}


.portada2{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, 80%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
 .portada2 .p2{
    font-family: Arial black, Helvetica, Verdana, sans-serif;
 }




/*parte inferior*/
.footer .menuabajo ul li{
    
    float: left;
}



.footer .menuabajo ul li a{
font-size: 18px;
padding: 30px;
display: flex;
color: rgba(255, 255, 255, 0.5);
text-decoration: underline;

}


.footer .menuabajo ul li a:hover{
color: white;
}

.footer{
    
    margin: 0 400px ;
    position: fixed;
    bottom: 0;
    position: absolute;
  
}


                                            /*editando responsive*/


@media screen and (max-width:1300px){
    .portada{
        font-size: 20px;
        position: absolute;
        transform: translate(-80%, -50%);
    }
    .portada2{
        font-size: 20px;
        position: absolute;
        transform: translate(-80%, 50%);
    }

    .footer{
        font-size: 16px;
        position: absolute;
        transform: translate(10%, 100%);
        margin: 0;
        
    }
}
    @media screen and (max-width:800px){
       
        .portada2{
            font-size: 16px;
            position: absolute;
            transform: translate(-50%, -10%);
        }
       
        .footer{
            font-size: 12px;
            position: absolute;
            transform: translate(10%, 30%);
            
        }

        .img-principal{
            position: relative;
            background-position: right;
        }
    }




@media(max-width:750px){

    .menu{
        padding: 10px;
    }

    .menu label{
        display: initial;
    }

    .enlaces{
        padding: 10px 0;
    }

    .menu .menuarriba{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }
    .menu .menuarriba ul li{
        width: 100%;
    }

    #menu:checked ~.menuarriba{
        display: initial;
    }

    .portada{
        font-size: 20px;
        position: absolute;
        transform: translate(-80%, -90%);
    }
    .portada2{
        font-size: 20px;
        position: absolute;
        transform: translate(-80%, 50%);
    }
}


 @media screen and (max-width:700px){
    .portada{
        font-size: 16px;
        position: absolute;
        transform: translate(-90%, -100%);
    }
    .portada2{
        font-size: 16px;
        position: absolute;
        transform: translate(-80%, 10%);
    }

    .footer{
        font-size: 16px;
        position: absolute;
        transform: translate(0, -10%);
        
    }
}
   

    
    @media screen and (max-width:540px){

        .portada{
            font-size: 16px;
            position: absolute;
            transform: translate(-50%, -100%);
        }
        .portada2{
            font-size: 14px;
            position: absolute;
            transform: translate(-80%, -20%);
        }
    

        .footer{
            font-size: 12px;
            position: absolute;
            transform: translate(10%, 15%);
           margin: 0;
            
        }


    }


@media screen and (max-width:480px){
   
    .portada{
        font-size: 16px;
        position: absolute;
        transform: translate(-50%, -100%);
    }
    .portada2{
        font-size: 14px;
        position: absolute;
        transform: translate(-50%, -10%);
    }
   
   
    .footer{
        font-size: 12px;
        position: absolute;
        transform: translate(10%, 15%);
           
    }
   .footer ul{
    line-height: 0px;
    
   }
 
}









